<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.writer1.mapper.PostsMapper">
    <!-- 使用Redis二级缓存 -->
<!--    <cache type="com.writer1.utils.RedisCache"/>-->
    <cache/>
    <insert id="add" parameterType="Posts">
        insert into posts (author,sdate,category,content,title)
        values (#{author},#{sdate},#{category},#{content},#{title})
    </insert>
    <select id="queryAll" resultType="Posts">
        select id,author,sdate,category,content,title,totalComments from posts
    </select>
    <select id="queryMy" parameterType="string" resultType="Posts">
        select id,author,sdate,category,content,title,totalComments from posts
        where author=#{author}
    </select>
    <update id="addComments" parameterType="integer">
        update posts set totalComments=totalComments+1 where
        id=#{sid}
    </update>
    <select id="fuzzyQuery" parameterType="java.util.Map" resultType="Posts">
        select id,author,sdate,category,content,title,totalComments from posts
        <where>
            <if test="key_words!=''">
                and (title like concat('%',#{key_words},'%')
                or content like concat('%',#{key_words},'%'))
            </if>
            <if test="category!='All'">
                and category=#{category}
            </if>
            <if test="author!='All'">
                and author=#{author}
            </if>
        </where>
    </select>

</mapper>