.div-header{
    width: 100%;
    overflow: hidden;
}

ul#nav {
    margin: 0;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #00A2CA;


}
ul#nav li {
    display: inline;
    height: 60px
}
ul#nav li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 20px;
    text-decoration: none
}
ul#nav li a:hover {
    background: #0095BB
}

.div-analyse {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;

}
.div-analyse span {
    display: block;
    margin-bottom: 10px;
}

.div-analyse span textarea{
    margin-top: 5px;
    border: 1px solid #CCC;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    height: 188px;
    width: 100%;
    font-size: 18px;
}


.div-home {
    display: block;
    text-align: center;
}


.btn {
    margin-top: 10px;
    border: 0;
    background-color: #00A2CA;
    font-size: 22px;
    color: #FFF;
}

.div-footer {
    bottom: 2px;
    width: 100%;
    height: 60px;
    background-color: gray;
    padding-top: 6px;
    text-align: center;
    font-size: 18px;
    color: lightgray;
}

.div-feedback {
    align-items: center;
    margin: 10px;
}
.div-feedback div {
    margin-bottom: 10px;
}
.div-feedback table {
    margin-bottom: 10px;
}

.div-echarts {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.div-echarts div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.div-echarts input{
    border:2px solid #7BA7AB;
    border-radius: 5px;
    background: white;
    color:#9E9C9C;
}
.div-echarts button{
    top:0;
    right: 0;
    background:#7BA7AB;
    border-radius: 5px;
}
.div-echarts button:before{
    content:"\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.bordered {
    border-spacing: 0;
    font-size:12px;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: lightgoldenrodyellow;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.daterange i {
    position: absolute;
    bottom: 10px;
    right: 14px;
    top: auto;
    cursor: pointer;
}
.daterange {
    position: relative;
}
